@model TesteDotNetXP.MVC.Models.Item

@{
    ViewBag.Title = "Excluir";
}

<h3 class="page-header">Exclusão do Item</h3>

<div class="row">
    <div class="form-group col-md-8">
        <label for="campo">Código:</label>
        @Html.DisplayFor(model => model.Codigo)
    </div>
    <div class="form-group col-md-8">
        <label for="campo1">Nome:</label>
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="form-group col-md-8">
        <label for="campo2">Descrição:</label>
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="form-group col-md-8">
        <label for="campo3">Categoria:</label>
        @Html.DisplayFor(model => model.Categoria)
    </div>
    <div class="form-group col-md-6">
        <label for="campo4">Data de Criação:</label>
        @Html.DisplayFor(model => model.Data)
    </div>
</div>

<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div id="actions" class="row">
    <div class="col-md-12">
        @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-default " })
        <input type="submit" value="Excluir" class="btn btn-primary" onclick="return confirm('Tem certeza que deseja excluir o fundo?');" />
    </div>
</div>
}