@model IEnumerable<TesteDotNetXP.MVC.Models.Item>
@{
    ViewBag.Title = "Home Page";
}
<div class="col-md-3">
    <h2>Itens</h2>
</div>
@using (Html.BeginForm())
{

    <div class="col-md-6 margin-top-20">
        <div class="input-group h2">
            <input name="search" class="form-control" id="search" type="text" placeholder="Pesquisar Itens por Nome">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <div class="input-group h2">
            <input name="search2" class="form-control" id="search2" type="text" placeholder="Pesquisar Itens por Nome, Código, Categoria e Data">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
}
<div class="col-md-3 margin-top-20">
    <a href="Home/Cadastro" class="btn btn-primary pull-right h2">Novo Item</a>
</div>
<div id="list" class="row margin-top-100">
    <div class="table-responsive col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Data de Criação</th>
                    <th class="actions">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Categoria)</td>
                        <td>@Html.DisplayFor(modelItem => item.Data, "{0:dd/MM/yyyy}")</td>
                        <td class="actions">
                            @Html.ActionLink("Visualizar", "Detalhe", new { id = item.Codigo }, new { @class = "btn btn-success btn-xs" })
                            @Html.ActionLink("Editar", "Editar", new { id = item.Codigo }, new { @class = "btn btn-warning btn-xs" })
                            @Html.ActionLink("Excluir", "Excluir", new { id = item.Codigo }, new { @class = "btn btn-danger btn-xs", })

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
